@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/prodigy-sans.min.css");

:root {
    --page-width: 600px;
    --card-width: 200px;
    --fg: #000000;
    --primary: #cd5c5c;
    --bg: #f8f3ef;
    --header-bg: #ffffff;
    --mono-bg: #eee;
    --mono-border: #888
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Prodigy Sans', sans-serif;
    line-height: 1.2;
    color: var(--fg);
    background: var(--bg);
    font-size: 1.25rem;
    margin: 0 auto;
    max-width: var(--page-width);
    padding: 0 1rem 1rem;
    box-sizing: content-box;
    overflow-x: hidden;
}

header {
    background: var(--header-bg);
    padding: 0 calc(50vw - 50%);
    margin: 0 calc(50% - 50vw) 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 1rem 0;
}

header a {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--fg);
}

header a:hover {
    background: var(--bg);
    border-radius: 4px;
    color: var(--primary);
}

h1,
h2,
h3 {
    margin: 1.5rem 0 1rem;
}

p,
ul,
ol,
blockquote,
pre {
    margin: 1rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

li {
    padding-left: 1rem;
    margin: 0.2rem 0;
    margin-left: 2rem;
}

a {
    color: var(--primary);
    text-decoration: solid underline var(--primary) 2px;
}

a:hover {
    text-decoration: none;
}

blockquote {
    padding: 1rem 2rem;
    border-left: solid var(--primary) 4px;
}

code,
pre {
    font-size: 1rem;
    background: var(--mono-bg);
    border: solid var(--mono-border) 1px;
    border-radius: 4px;
    font-family: monospace;
}

code {
    padding: 0.15rem 0.3rem;
}

pre {
    padding: 0.5rem 1rem;
    overflow: auto;
}

section {
    margin: -1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section aside {
    max-width: var(--card-width);
}

button {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    font-size: inherit;
    font-weight: bold;
    color: var(--bg);
    background: var(--primary);
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}